<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	  crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	    crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main.css') }}">

    
    <title>The first R</title>
  </head>
  
  
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  
  <body>
    <a href="{{url_for('index')}}"> <div class="myheaderimg"></div></a>
    <div>
      <div style="text-align: right;">
	<form action = {{url_for('logout')}} method = "post">
          <button> Logout </button>
	</form>
      </div>


      <div class="mysearchform">
	<form action = {{url_for('search')}} method = "get">
	  Search by
	  <input type="radio" name="search_by_field" value="author" required> Author
	  <input type="radio" name="search_by_field" value="title"> Title
	  <input type="radio" name="search_by_field" value="isbn"> ISBN
	  <div class="myformelement">
	    <input type="text" name="book_query" placeholder="search for your book" size="35"> 
	  </div>
	</form>
      </div>
    </div>
    {% block body %}
    {% endblock %}
  </body>
</html>
